fastapi==0.115.12
uvicorn[standard]==0.34.2
pydantic==2.11.3
pydantic-settings==2.9.1
PyJWT==2.10.1
python-multipart==0.0.20
pytest==8.3.5
jinja2==3.1.6
langgraph==1.2.11
langchain
langchain-community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langchain-tavily
langchain-mcp-adapters
mcp
youtube-transcript-api
pytube
langchain-text-splitters
beautifulsoup4
pypdf
pymupdf
python-docx
openpyxl
sentence-transformers
faiss-cpu
rank_bm25
litellm
